@use "../abstracts/index" as vars;
@use "../abstracts/mixins";
@use "sass:color";
@use "sass:map";

/* WORK HISTORY STYLING */
.work-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: map.get(vars.$gap-sizes, medium);
  align-self: stretch;

  &__item,
  &__sub-job {
    display: flex;
    align-items: flex-start;
    gap: map.get(vars.$gap-sizes, xsmall);
    align-self: stretch;
  }

  &__logo,
  &__sub-job-logo {
    display: flex;
    align-items: center;
    width: vars.$asset-width;
    height: vars.$asset-height;
  }

  &__sub-jobs {
    display: none;

    @include mixins.tablet {
      display: flex;
      gap: map.get(vars.$gap-sizes, medium);
      min-height: 0;
      padding: map.get(vars.$spacing-sizes, medium) 0;
    }
  }

  &__content,
  &__sub-jobs-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: map.get(vars.$gap-sizes, small);
    flex: 1 0 0;
  }

  &__title,
  &__sub-job-title {
    align-self: stretch;
    font-size: vars.$font-size--small;
    font-weight: vars.$font-weight--bold;
  }

  &__period,
  &__sub-job-period {
    color: vars.$color--text--secondary;
    font-size: vars.$font-size--small;
    font-weight: vars.$font-weight--normal;
  }

  &__description {
    text-align: justify;
    font-size: vars.$font-size--small;
    font-weight: vars.$font-weight--normal;
    max-height: 5rem;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;

    /* Fade effect */
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2rem;
      background: linear-gradient(
        to top,
        vars.$color--background,
        rgba(255, 255, 255, 0)
      );
    }

    @include mixins.tablet {
      max-height: none;
      overflow: visible;

      &:after {
        display: none;
      }
    }
  }

  &__toggle {
    display: none;

    &-label {
      display: flex;
      padding: map.get(vars.$spacing-sizes, small)
        map.get(vars.$spacing-sizes, medium);
      justify-content: center;
      align-items: center;
      gap: map.get(vars.$gap-sizes, small);
      border-radius: vars.$border-radius--medium;
      background: color.scale(vars.$color--highlights, $lightness: -10%);
      font-size: vars.$font-size--small;
      font-weight: vars.$font-weight--normal;
      cursor: pointer;
      margin-top: map.get(vars.$spacing-sizes, small);
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:before {
        content: "Read More";
      }

      &:hover {
        background-color: color.scale(
          vars.$color--highlights,
          $lightness: -10%
        );
      }

      &:active {
        transform: scale(0.95);
      }

      @include mixins.tablet {
        display: none;
      }
    }
  }

  &__toggle:checked ~ .work-history__description {
    max-height: none;
  }

  &__toggle:checked ~ .work-history__description:after {
    display: none;
  }

  &__toggle:checked ~ .work-history__toggle-label:before {
    content: "Read Less";
  }
}
