@use "../abstracts/index" as vars;
@use "sass:color";
@use "sass:map";

.badges {
  display: flex;
  align-items: flex-start;
  gap: map.get(vars.$gap-sizes, xsmall);
  align-self: stretch;
  flex-wrap: wrap;

  &__skill,
  &__stack {
    display: flex;
    padding: map.get(vars.$spacing-sizes, small)
      map.get(vars.$spacing-sizes, medium);
    justify-content: center;
    align-items: center;
    gap: map.get(vars.$gap-sizes, small);
    border-radius: vars.$border-radius--medium;
    background: color.scale(vars.$color--highlights, $lightness: -10%);
    text-align: justify;
    font-size: vars.$font-size--small;
    font-weight: vars.$font-weight--normal;
  }
}
