@use "../abstracts/index" as vars;
@use "../abstracts/mixins";
@use "sass:map";

/* LANDING INTRODUCTION STYLING */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: map.get(vars.$gap-sizes, large);
  flex: 1 0 0;
  align-self: stretch;

  &__content,
  &__description {
    display: flex;
    padding: map.get(vars.$spacing-sizes, large);
    flex-direction: column;
    align-items: center;
    gap: map.get(vars.$gap-sizes, large);
    flex: 1 0 0;
    align-self: stretch;
    justify-content: space-evenly;
  }

  &__description {
    justify-content: center;
    gap: map.get(vars.$gap-sizes, medium);
  }

  &__image {
    align-self: stretch;

    @include mixins.tablet {
      padding: 0 calc(5 * map.get(vars.$spacing-sizes, xlarge));
    }
  }

  &__text--normal {
    align-self: stretch;
    text-align: center;
    font-size: vars.$font-size--small;
    font-weight: vars.$font-weight--normal;

    @include mixins.tablet {
      font-size: vars.$font-size--medium;
    }
  }

  &__text--bold {
    text-align: center;
    font-family: vars.$font-family--secondary;
    font-size: vars.$font-size--medium;
    font-weight: vars.$font-weight--normal;

    @include mixins.tablet {
      font-size: vars.$font-size--large;
    }
  }
}
