@use "../abstracts/index" as vars;
@use "sass:map";

/* SKILLS STYLING */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: vars.getSizing(large, vars.$gap-scale);
  align-self: stretch;

  &__content,
  &__card,
  &__icon {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  &__content {
    gap: vars.getSizing(large, vars.$gap-scale);
  }

  &__card {
    padding: vars.getSizing(medium, vars.$spacing-scale);
    align-items: flex-start;
    gap: vars.getSizing(small, vars.$gap-scale);
    border-radius: vars.$border-radius--small;
    background: vars.$color--highlights;
  }

  &__icon {
    gap: vars.getSizing(small, vars.$gap-scale);
  }

  &__title,
  &__description {
    align-self: stretch;
    font-size: vars.$font-size--small;
    line-height: normal;
  }

  &__title {
    font-weight: vars.$font-weight--bold;
  }

  &__description {
    color: vars.$color--text--secondary;
    font-weight: vars.$font-weight--normal;
  }
}
