@use "../abstracts/index" as vars;
@use "sass:color";
@use "sass:map";

.badges {
  display: flex;
  align-items: flex-start;
  gap: vars.getSizing(small, vars.$gap-scale);
  align-self: stretch;
  flex-wrap: wrap;

  &__skill,
  &__stack {
    display: flex;
    padding: vars.getSizing(small, vars.$spacing-scale)
      vars.getSizing(medium, vars.$spacing-scale);
    justify-content: center;
    align-items: center;
    gap: vars.getSizing(medium, vars.$gap-scale);
    border-radius: vars.$border-radius--medium;
    background: color.scale(vars.$color--highlights, $lightness: -10%);
    text-align: justify;
    font-size: vars.$font-size--small;
    font-weight: vars.$font-weight--normal;
  }
}
