/* COLORS */
$color--primary: #fafaf9;
$color--secondary: #edeff3;
$color--tertiary: #a8a29e;
$color--quaternary: #0c0a09;
$color--quinary: #878891;

$color--background: $color--primary;
$color--highlights: $color--secondary;
$color--accents: $color--quinary;

$color--text--primary: $color--quaternary;
$color--text--secondary: $color--tertiary;
