/* BORDER */
$border-radius--small: 0.625rem;
$border-radius--medium: 1.875rem;

/* DYNAMIC SPACING */
$dynamic-padding-top: 10vh;
$dynamic-padding-bottom: 10vh;

/* HEADER HEIGHT */
$header-height: 5.75rem;

/* ASSETS SIZE */
$asset-height: 3.125rem;
$asset-width: 3.125rem;

/* PADDING SIZES */
$padding--tablet: 10%;
$padding-desktop--small: 20%;
$padding-desktop--medium: 28.7%;
$padding-desktop--large: 38%;
