/* SPACING MAP */
$spacing-sizes: (
  small: 0.3125rem,
  medium: 0.625rem,
  large: 1.25rem,
  xlarge: 1.5rem,
);

$gap-sizes: (
  xsmall: 0.3125rem,
  small: 0.625rem,
  medium: 1.25rem,
  large: 3.125rem,
);
