/* TYPOGRAPHY */
$font-family--primary: Raleway, sans-serif;
$font-family--secondary: "Oleo Script", sans-serif;

$font-weight--normal: 400;
$font-weight--bold: 700;

$font-size--small: 1rem;
$font-size--medium: 2rem;
$font-size--large: 3rem;
