@use "../abstracts/index" as vars;
@use "../abstracts/mixins";
@use "sass:map";

.footer {
  background-color: vars.$color--background;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: vars.getSizing(xlarge, vars.$spacing-scale);

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vars.$asset-width;
    height: vars.$asset-height;
    font-size: vars.$font-size--medium;
    color: vars.$color--accents;
    text-decoration: none;
    border-radius: vars.$border-radius--small;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      background: vars.$color--highlights;
    }

    &:active {
      transform: scale(0.95);
      background: vars.$color--highlights;
    }
  }

  @include mixins.tablet {
    align-items: center;
    padding-left: vars.$padding--tablet;
    padding-right: vars.$padding--tablet;
  }

  @include mixins.desktop--small {
    padding-left: vars.$padding-desktop--small;
    padding-right: vars.$padding-desktop--small;
  }

  @include mixins.desktop--medium {
    padding-left: vars.$padding-desktop--medium;
    padding-right: vars.$padding-desktop--medium;
  }

  @include mixins.desktop--large {
    padding-left: vars.$padding-desktop--large;
    padding-right: vars.$padding-desktop--large;
  }
}
