@use "../abstracts/index" as vars;
@use "../abstracts/mixins";
@use "sass:map";

footer {
  background-color: vars.$color--background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: map.get(vars.$spacing-sizes, xlarge);

  @include mixins.tablet {
    justify-content: space-evenly;
    flex: 1 0 0;
    width: 100%;
  }
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: vars.$asset-width;
  height: vars.$asset-height;
  font-size: vars.$font-size--medium;
  color: vars.$color--accents;
  text-decoration: none;
  border-radius: vars.$border-radius--small;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background: vars.$color--highlights;
  }

  &:active {
    transform: scale(0.95);
    background: vars.$color--highlights;
  }
}
